.bgImage {
    width: 100vw;
    height: 100vh;
}

@media only screen and (max-width: 600px) {
    .bgImage {
        width: 100vw;
        height: 768px;
    }
}
/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {
    .bgImage {
        width: 100vw;
        height: 768px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
    .bgImage {
        width: 100vw;
        height: 768px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {
    .bgImage {
        width: 100vw;
        height: 992px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {
    .bgImage {
        width: 100vw;
        height: 992px;
    }
}